.home-card {
  margin-right: 1rem;
  background-color: #22232d;
}

.home-card-title {
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card-text {
  height: 320px;
  overflow: auto;
}

.home-card-title,
.home-card-text {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.home-btn {
  width: 95%;
}

.home-btn-more-recommendations {
  width: 60%;
}