#films-container {
  width: 100%;
  text-align: center;
  background-color: #2c2c2c;
}

#films-list {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#films-container h1 {
  color: #ffffff;
  padding: 4% 0 3% 0;
}

#filmDetail-container {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#filmDetail-content {
  display: flex;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#filmDetail-image-container {
  height: 85%;
  width: auto;
  padding: 2% 3%;
}

#filmDetail-img {
  border-radius: 10px 10px 0 0;
}

.filmDetail-logo-streaming {
  width: 15%;
  border-radius: 5px;
}

.filmDetail-container-streamings {
  padding: 2% 0;
  background-color: #060738;
  text-wrap: wrap;
}

.filmDetail-container-streamings:nth-last-child(1) {
  border-radius: 0 0 10px 10px;
}