#list-body {
  background-color: #17131e;
  text-align: center;
}

#list-body h2 {
  color: #ffffff;
  padding: 2% 0;
  border-bottom: 1px solid #ffffff;
}

#list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 2%;
}

#list-text {
  color: white;
}

.list-card {
  width: 18rem;
  margin-bottom: 2%;
  background-color: #22232d;
}

.list-card-title {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  border-bottom: 1px solid #ffffff;
}

.list-btn {
  width: 95%;
}