#list-body {
  background-color: #060738;
}

#list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 4%;
}

#list-text {
  color: white;
}

.list-card {
  width: 18rem;
  margin-bottom: 2%;
}

.list-card-title {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list-btn {
  width: 95%;
}