#modalGenre-container {
  width: 100%;
  min-height: 100vh;
  background-color: #17131e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modalGenre-title {
  color: #FFFFFF;
  margin: 3%;
}

#modalGenre-form {
  width: 70%;
  background-color: #FFFFFF;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

#modalGenre-form-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #062138;
  padding: 2%;
}

.btn {
  margin: 3%;
}